.mobile-nav-table {
    width: 100vw;
}
table {
    width: 100%;
    table-layout: fixed;
}
tr {
    width: 100%;
    text-align: center;
    height: calc((100vh - 75px) / 20);
}
.outer-row-small {
    width: 100%;
    text-align: center;
    height: calc((100vh - 75px) / 12);
}
.outer-table-td{
    width: 50%;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;

}
.row-section-large {
    height: calc((100vh - 75px) / 9);
}
.row-section-last {
    height: calc((100vh - 75px) / 6.5);
}


.navbar-mobile {
    width: 100vw;
    height: 75px;
    position: fixed;
    top: 0px;
    color: rgba(0,0,0,1);
    background-color: rgba(255, 255, 255);
    border: 0 solid transparent;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navbar-container {
    width: 90%;
    margin: auto;
    padding-top: 5px;
    height: fit-content;
}

body{
    padding: 0px;
    margin: 0px;
    height: fit-content;
}

.spacer {
    height: 130vh;

}
.nav-row-2 {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: calc( ((100vh - 75px) / 10.5));
    background: #FBFBFB;
}
.inner-table-td{
    font-size: 18px;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}

.nav-info-container{
    -webkit-transition: max-height .75s; 
    -moz-transition: max-height .75s; 
    -ms-transition: max-height .75s; 
    -o-transition: max-height .75s; 
    transition: max-height .75s;  
    background-color: rgba(255, 255, 255);
    overflow: hidden;
    max-height: 0;
    box-shadow:0px 15px 15px -15px rgba(0, 0, 0, 0.1);
  }


.display {
    max-height: 100vh;
    z-index: 1;
}


#nav-icon3{

    width: 50px;
    height: 20px;
    position: relative;
    float: right;
    margin-top: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .75s ease-in-out;
    -moz-transition: .75s ease-in-out;
    -o-transition: .75s ease-in-out;
    transition: .75s ease-in-out;
    cursor: pointer;
  }
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #105685;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .75s ease-in-out;
    -moz-transition: .75s ease-in-out;
    -o-transition: .75s ease-in-out;
    transition: .75s ease-in-out;
  }

  /* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 12px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 24px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  